<% @title = 'ToDo' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 id="title" class="text-center">TODO</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4 class="text-right">
        <small>Hi, <%= @user.name %>. <a id="logout" href="logout">Logout </a></small>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div id="menu" class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <span id="left">
                <span>
                  <% unless @left_items.nil? %>
                  <%= "1 item left" if @left_items == 1 %>
                  <%= "#{@left_items} items left" if @left_items > 1 %>
                  <% end %>
                </span>
              </span>
            </div>
            <div class="col-md-6">
              <a id="all" class="tab atab btn btn-xs btn-link">All</a>
              <a id="active" class="tab btn btn-xs btn-link" ondrop="active(event)" ondragover="allowDrop(event)">Active</a>
              <a id="completed" class="tab btn btn-xs btn-link" ondrop="completed(event)" ondragover="allowDrop(event)">Completed</a>
            </div>
            <div class="col-md-3 text-right">
              <a id="clear-completed" class="btn btn-xs btn-link">Clear completed</a>
            </div>
          </div>
        </div>
        <ul id="items" class="list-group">
          <% @todolists.each do |todo| %>
          <li id="<%= todo.id %>" class="list-group-item <%= todo.status %>">
            <span class="content"><%= todo.content %></span>
            <span class="control hidden pull-right">
              <a class="glyphicon glyphicon-ok"></a>
              <a class="glyphicon glyphicon-remove"></a>
            </span>
          </li>
          <% end %>
        </ul>
        <div class="panel-footer">
          <input id="add-todo" placeholder="What needs to be done?" autofocus type="text">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    <% if @count == 0 %>
    $(".panel-heading").addClass('hidden');
    $("#items").addClass('hidden');
    <% end %>
    Sortable.create($("#items")[0]);
    $("#add-todo").keydown(function(){
      if (event.which == 13) {
        if($(this).val() == ""){
          return false;
        };
        $.ajax({
          url: 'todo',
          type: 'POST',
          data:{ content: $(this).val() },
          dataType: 'html',
          timeout: 3000,
          success: function(result){
            $("#items").load('todo #items li');
            $("#left").load('todo #left span');
            $("#add-todo").val("");
            $("#all").click();
            if(result > 0){
              $(".panel-heading").removeClass('hidden');
              $("#items").removeClass('hidden');
            };
          }
        });
      }
    });
    $(".panel").on('click', '.glyphicon-ok', function(){
      $.ajax({
        url: 'todo',
        type: 'PUT',
        data:{ todolist_id: $(this).parents("li").attr('id') },
        timeout: 3000,
        success: function(result){
          $("#items").load('todo #items li');
          $("#left").load('todo #left span');
          $("#all").click();
        }
      });
    });
    $(".panel").on('click', '.glyphicon-remove', function(){
      $.ajax({
        url: 'todo',
        type: 'DELETE',
        data:{ todolist_id: $(this).parents("li").attr('id') },
        dataType: 'html',
        timeout: 3000,
        success: function(result){
          $("#items").load('todo #items li');
          $("#left").load('todo #left span');
          $("#all").click();
          if(result == 0){
            $(".panel-heading").addClass('hidden');
            $("#items").addClass('hidden');
          };
        }
      });
    });
    $("#clear-completed").click(function(){
      $.ajax({
        url: 'todo',
        type: 'DELETE',
        data:{ todolist_id: 'ids' },
        dataType: 'html',
        timeout: 3000,
        success: function(result){
          $("#items").load('todo #items li');
          $("#left").load('todo #left span');
          $("#all").click();
          if(result == 0){
            $(".panel-heading").addClass('hidden');
            $("#items").addClass('hidden');
          };
        }
      });
    });
    $(".panel").on('mouseover', 'li', function(){
      $(this).children('.control').removeClass('hidden');
    });
    $(".panel").on('mouseout', 'li', function(){
      $(this).children('.control').addClass('hidden');
    });
    $("#all").click(function(){
      $('.tab').removeClass('atab');
      $(this).addClass('atab');
      $('#items li').removeClass('hidden');
    });
    $("#active").click(function(){
      $('.tab').removeClass('atab');
      $(this).addClass('atab');
      $('#items li.actived').removeClass('hidden');
      $('#items li.completed').addClass('hidden');
    });
    $("#completed").click(function(){
      $('.tab').removeClass('atab');
      $(this).addClass('atab');
      $('#items li.completed').removeClass('hidden');
      $('#items li.actived').addClass('hidden');
    });
  });
function allowDrop(evt)
{
  evt.preventDefault();
};
function active(evt)
{
  evt.preventDefault();
  if($("#" + evt.dataTransfer.getData('Id')).hasClass('completed')){
    $.ajax({
      url: 'todo',
      type: 'PUT',
      data:{ todolist_id: $("#" + evt.dataTransfer.getData('Id')).attr('id') },
      timeout: 3000,
      success: function(result){
        $("#items").load('todo #items li');
        $("#left").load('todo #left span');
        $("#all").click();
      }
    });
  }
};
function completed(evt)
{
  evt.preventDefault();
  if($("#" + evt.dataTransfer.getData('Id')).hasClass('actived')){
    $.ajax({
      url: 'todo',
      type: 'PUT',
      data:{ todolist_id: $("#" + evt.dataTransfer.getData('Id')).attr('id') },
      timeout: 3000,
      success: function(result){
        $("#items").load('todo #items li');
        $("#left").load('todo #left span');
        $("#all").click();
      }
    });
  }
};
</script>
<style>
  body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
  }
  .btn-link,
  .btn-link:hover,
  #title {
    color: #b11101;
  }
  .panel {
    background-color: transparent;
    box-shadow: -2px 2px 24px #666;
  }
  .panel li{
    padding: 12px;
  }
  .panel li:hover{
    position: relative;
    left: -2px;
    border-radius: 3px !important;
    border-left-width: 3px !important;
    border-left-color: #b11101;
  }
  .panel li span.content{
    font-size: 18px;
    cursor:move;
  }
  .panel-footer {
    background-color: transparent !important;
  }
  #add-todo {
    padding: 6px 2px;
    font-size: 18px;
    background-color: transparent;
    border: 0;
    width: 100%;
    border-radius: 0;
    border-bottom: 2px solid #b11101;
  }
  #add-todo:focus {
    outline: 0;
  }
  .glyphicon-ok + .glyphicon-remove {
    padding-left: 20px;
    padding-right: 8px;
  }
  .glyphicon-ok, .glyphicon-ok:hover {
    color: #5cb85c;
  }
  .glyphicon-remove, .glyphicon-remove:hover {
    color: #d9534f;
  }
  .atab {
    border-radius: 0;
    border-bottom: 1px solid #b11101;
  }
  #logout {
    color: #b11101;
  }
  .completed {
    text-decoration: line-through;
    color: #aaa;
  }
  input::-webkit-input-placeholder {
    font-style: italic;
  }
</style>